




*[background="transparent"] { background: transparent; }
*[background="browser"] { background: $BROWSER_BACKGROUND; }
*[background="black"] { background: $BLACK_COLOR; }

*[background="options"] { background: $OPTION_BACKGROUND; }
*[background="input"] { background: $OPTION_INPUT; }
*[background="button"] { background: $OPTION_BUTTON; }

*[border="none"] { border: none; }
*[border="round"] { border-radius: 4px; }

*[textcolor="kicker"] { color: $KICKER; }
*[textcolor="white"] { color: $WHITE_COLOR; }
*[textcolor="light"] { color: $TEXT_ON; }
*[textcolor="off"] { color: $TEXT_OFF; }
*[textcolor="disabled"] { color: $OPTION_DISABLE; }
*[textcolor="lock"] { color: $TEXT_LOCK; }
*[textcolor="violet"] { color: $VIOLET_COLOR; }





QSlider::groove:horizontal {
    border: none;
    height: 12px;
    background: $HANDLE_SOCKET;
    margin: 0px 0;
    border-radius: 6px;
}

QSlider::handle:horizontal {
    background: $BROWSER_HANDLE;
    border: none;
    width: 12px;
    margin: 0px 0;
    border-radius: 6px;
}





QScrollBar:horizontal, QScrollBar:vertical {
    background: $BROWSER_BACKGROUND;
    border: none;
    border-radius: 3px;
}

QScrollBar:vertical {
    width:12px;
    margin-right: 6px;
}

QScrollBar::handle:vertical { min-height:45px; }

QScrollBar::handle:vertical {
    background: $BROWSER_HANDLE;
    border: none;
    border-radius: 3px;
}

QScrollBar:left-arrow:vertical, QScrollBar::right-arrow:vertical  {
    background: transparent;
}

QScrollBar::add-line:vertical {
    background: transparent;
}

QScrollBar::sub-line:vertical {
    background: transparent;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}





QPushButton[objectName~="pathRoot"] {
    color: $TEXT_ON;
}

QPushButton::pressed[objectName~="pathRoot"] {
    color: $KICKER;
}





QPushButton[objectName~="rangeButton"] {
    color: $TEXT_ON;
    background: $OPTION_BUTTON;
    border-radius: 4px;
    border: none;
}

QPushButton::pressed[objectName~="rangeButton"] {
    color: $WHITE_COLOR;
    background: $BLACK_COLOR;
    border-radius: 4px;
    border: none;
}





QPushButton[objectName~="linkButton"] {
    color: $TEXT_ON;
    background: $OPTION_BUTTON;
    border: none;
}

QPushButton:checked[objectName~="linkButton"] {
    color: $WHITE_COLOR;
    background: $BLACK_COLOR;
    border: none;
}

QPushButton:checked[objectName~="linkButton"][overwrite="true"] {
    color: $WHITE_COLOR;
    background: $VIOLET_COLOR;
    border: none;
}





QPushButton[button="status"] {
    color: $STATUS_BUTTON;
    background: none;
    border: none;
    Text-align: left;
}

QPushButton:hover[button="status"],
QPushButton:checked[button="status"] {
    color: $KICKER;
    background: none;
    border: none;
    Text-align: left;
}





QPushButton:checked[objectName~="modelingOverwrite"],
QPushButton:checked[objectName~="surfacingOverwrite"],
QPushButton:checked[objectName~="animationOverwrite"] {
    color: $WHITE_COLOR;
    background: $BLACK_COLOR;
    border-radius: 8px;
    border: none;
}

QPushButton[objectName~="modelingOverwrite"],
QPushButton[objectName~="surfacingOverwrite"],
QPushButton[objectName~="animationOverwrite"],
QPushButton:disabled[objectName~="modelingOverwrite"],
QPushButton:disabled[objectName~="surfacingOverwrite"],
QPushButton:disabled[objectName~="animationOverwrite"] {
    color: $OPTION_BUTTON;
    background: $OPTION_DISABLE;
    border-radius: 8px;
    border: none;
}





QComboBox:editable[textcolor="violet"] {
    color: $VIOLET_COLOR;
    background: $OPTION_INPUT;
    border-radius: 4px;
    border: none;
    font-size: 9pt;
}

QComboBox:editable {
    color: $TEXT_ON;
    background: $OPTION_INPUT;
    border-radius: 4px;
    border: none;
    font-size: 9pt;
}

QComboBox::drop-down {
    width: 20px;
    background: $OPTION_INPUT;
}

QComboBox QAbstractItemView {
    border: none;
    color: $TEXT_ON;
    background: $OPTION_INPUT;
    selection-background-color: $BLACK_COLOR;
}





QComboBox::drop-down[bookmark="true"] {
    width: 20px;
    background: $BROWSER_BACKGROUND;
}

QComboBox::down-arrow[bookmark="true"] {
    image: none;
}

QComboBox[bookmark="true"],
QAbstractItemView[bookmark="true"] {
    border: none;
    color: $TEXT_ON;
    background: $BROWSER_BACKGROUND;
    selection-color: $WHITE_COLOR;
    selection-background-color: $BLACK_COLOR;
}





QLineEdit[objectName~="pathLine"] {
    color: $TEXT_ON;
}
